<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    <!-- Custom Scripts -->
    <script src="../static/scripts/clock.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        IoT Dashboard
    </header>

    <div class="dashboard-container">
        <div class="card-container" style="margin-top: 100px;">
            <div class="container">
                <h4><b>LED Control</b></h4>
            </div>
            <label class="toggle-button">
                Toggle Light
                <input id="toggle_button" type="checkbox">
                <span class="toggle-slider round"></span>
            </label>
        </div>

        <div class="row-container">
            <div class="card-container profile">
                <div id="clock">
                    <h4 id="date-time"></h4>
                </div>
                <h4><b>User Profile</b></h4>
                <img src="../static/images/avatar.jpg" alt="Avatar" class="avatar">
                <b>User ID: <span id="user_id">{{ user_id }}</span></b>
                <br>
                <b>Name: <span id="user_name">{{ name }}</span></b>
                <br>
                <form id="profile_form" action="/update_profile" method="POST">
                    <div class="input-container">
                        <label for="temperature">Temperature Threshold:</label>
                        <input type="text" id="temperature" name="temperature" value="{{ temp_threshold }}">
                    </div>
                    <div class="input-container">
                        <label for="humidity">Humidity Threshold:</label>
                        <input type="text" id="humidity" name="humidity" value="{{ humidity_threshold }}">
                    </div>
                    <div class="input-container">
                        <label for="light-intensity">Light Intensity Threshold:</label>
                        <input type="text" id="light-intensity" name="light_intensity"
                            value="{{ light_intensity_threshold }}">
                    </div>
                    {% if user_id != "Null" %}
                    <button type="submit" class="update-button">Update Values</button>
                    {% else %}
                    <button type="submit" class="update-button" disabled>Update Values</button>
                    {% endif %}
                </form>
            </div>
        
        <table>
            <tr>
                <td>
                    <div class="card-container inline">
                        <div class="ceiling-container fan-{{ 'on' if fan_status else 'off' }}">
                            <div class="ceiling-fan horizontal left"></div>
                            <div class="ceiling-fan horizontal right"></div>
                            <div class="ceiling-fan vertical rotated top"></div>
                            <div class="ceiling-fan vertical rotated bottom"></div>
                        </div>
                        <button id="fanButton">Turn On/Off</button>
                        <div id="fanStatus">Status: {{ fan_status }}</div> <!-- Fan status -->
                    </div>
                </td>
                <td>
                    <div class="card-container inline" style="height: 300px; flex-direction: row;">
                        <div class="top-content" style="width: 100%;">
                            <h4><b>Light Intensity</b></h4>
                        </div>
                        <div class="frame center" style="margin: 50px;">
                            <div class="slider-container">
                                <div class="slider center">
                                    <input class="center" type="range" min="0" max="1000" />
                                </div>
                                <div class="slider-value center">{{ light_intensity }}</div>
                                <p class="light-status"></p>
                                <p class="email-status">Email Status: {% if email_status %}Sent{% else %}Not Sent{%
                                    endif %}</p>
                            </div>
                            <div class="wrapper" style="margin: 50px;">
                                <div class="light">
                                    <div id="light_intensity" class="bulb {% if light_status %}on{% endif %}"></div>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
    </div>
    </td>
    </tr>
    <tr>
        <td>
            <div class="card-container" style="padding: 35px;">
                <h4><b>Temperature</b></h4>
                <div class="gauge temperature-gauge"></div>
            </div>
        </td>
        <td>
            <div class="card-container" style="padding: 35px;">
                <h4><b>Humidity</b></h4>
                <div class="gauge humidity-gauge"></div>
            </div>
        </td>
    </tr>
    </table>
    </div>
    </div>

    <svg width="0" height="0" version="1.1" class="gradient-mask" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="gradientGauge">
                <stop class="color-red" offset="0%" stop-color="#ff0000" />
                <stop class="color-yellow" offset="17%" stop-color="#ffff00" />
                <stop class="color-green" offset="40%" stop-color="#00ff00" />
                <stop class="color-yellow" offset="87%" stop-color="#ffff00" />
                <stop class="color-red" offset="100%" stop-color="#ff0000" />
            </linearGradient>
        </defs>
    </svg>

    <script src="https://cdn3.devexpress.com/jslib/17.1.6/js/dx.all.js"></script>
    <script src="../static/scripts/gauge.js"></script>

    <script>
        $(document).ready(function () {

            function updateLightStatus() {
                $.get('/light_status', function (data) {

                    if (data.light_status === 'ON') {
                        // Turn on the light bulb
                        $('.bulb').addClass('on');
                    } else {
                        // Turn off the light bulb
                        $('.bulb').removeClass('on');
                    }

                    $('body').toggleClass('on', data.light_status === 'ON');
                $('.light-status').text('Status: ' + data.light_status);
                $('.email-status').text('Email Status: ' + data.email_status);
                $('.slider-value').text(data.light_intensity);
                });
            }

            setInterval(updateLightStatus, 1000);
            updateLightStatus();

            // Toggle LED2 (GPIO 5) when the button is clicked
            $('#toggle_button').click(function () {
                $.get('/toggle', function () {
                    if ($('#toggle_button').prop('checked')) {
                        // Light is on
                        $('body').css({
                            'background': 'linear-gradient(90deg, #a1c4fd, #c2e9fb)',
                            'color': 'black'
                        });
                    } else {
                        // Light is off
                        $('body').css({
                            'background': 'linear-gradient(90deg, #2C3E50, #34495E)',
                            'color': 'white'
                        });
                    }
                });
            });

            // Event listener for the fan toggle button
            $('#fanButton').click(function () {
                $.get('/toggle_fan', function () {
                    // Toggle the 'on' class on the fan button
                    var fanButton = $('#fanButton');
                    if (fanButton.hasClass('on')) {
                        fanButton.removeClass('on').text('Turn On');
                    } else {
                        fanButton.addClass('on').text('Turn Off');
                    }
                });
            });

            $('#fanButton').click(function () {
                $.get('/toggle_fan', function () {
                    var fanContainer = $('.ceiling-container');
                    var fanStatus = $('#fanStatus');
                    if (fanContainer.hasClass('fan-off')) {
                        fanContainer.removeClass('fan-off').addClass('fan-on');
                        fanStatus.text('Fan Status: On');
                    } else {
                        fanContainer.removeClass('fan-on').addClass('fan-off');
                        fanStatus.text('Fan Status: Off');
                    }
                });
            });

            let temperatureGauge;
            let humidityGauge;

            function updateSensorData() {
                $.get('/sensor_data', function (data) {
                    if ('temperature' in data && 'humidity' in data) {
                        let temperatureValue = typeof data.temperature === 'number' ? data.temperature.toFixed(2) : '';
                        let humidityValue = typeof data.humidity === 'number' ? data.humidity.toFixed(2) : '';

                        temperatureGauge = new GaugeChart('.temperature-gauge', {
                            initialValue: data.temperature,
                            higherValue: 60,
                            title: 'Temperature',
                            subtitle: temperatureValue !== '' ? temperatureValue + '°C' : '',
                            customTicks: [0, 10, 20, 30, 40, 50, 60]
                        });

                        humidityGauge = new GaugeChart('.humidity-gauge', {
                            initialValue: data.humidity,
                            higherValue: 100,
                            title: 'Humidity',
                            subtitle: humidityValue !== '' ? humidityValue + '%' : '',
                            customTicks: [0, 20, 40, 60, 80, 100]
                        });

                        temperatureGauge.init();
                        humidityGauge.init();
                        temperatureGauge.update(data.temperature, temperatureValue !== '' ? temperatureValue + '°C' : '');
                        humidityGauge.update(data.humidity, humidityValue !== '' ? humidityValue + '%' : '');
                    }
                });
            }

            updateSensorData();
            setInterval(updateSensorData, 10000);
        });

    </script>

    <footer>
        &copy; 2024 - Muhammad Arsalan Saeed, Nabil Ramadan & Hibba Qaraman.
    </footer>

</body>

</html>