<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles/dashboard.css">
    <link rel="stylesheet" href="../static/styles/fan.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        IoT Dashboard
    </header>

    <div class="dashboard-container">
        <div class="card-container" style="margin-top: 100px">
            <div class="container">
                <h4><b>Phase 1: LED Control</b></h4>
                <p id="lightIntensity">Light intensity: </p>
            </div>
            <label class="toggle-button">
                Toggle Light
                <input id="toggle_button" type="checkbox">
                <span class="toggle-slider round"></span>
            </label>
        </div>

        <div class="row-container">
            <div class="card-container">
                <div class="ceiling-container fan-{{ 'on' if fan_status else 'off' }}">
                    <div class="ceiling-fan horizontal left"></div>
                    <div class="ceiling-fan horizontal right"></div>
                    <div class="ceiling-fan vertical rotated top"></div>
                    <div class="ceiling-fan vertical rotated bottom"></div>
                </div>
                <button id="fanButton">Turn On/Off</button>
                <div id="fanStatus">Fan Status: {{ fan_status }}</div> <!-- Fan status -->
            </div>

            <div class="card-container" style="padding:35px">
                <h4><b>Temperature</b></h4>
                <div class="gauge temperature-gauge"></div>
            </div>

            <div class="card-container" style="padding:35px">
                <h4><b>Humidity</b></h4>
                <div class="gauge humidity-gauge"></div>
            </div>
        </div>
    </div>

    <svg width="0" height="0" version="1.1" class="gradient-mask" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient id="gradientGauge">
                <stop class="color-red" offset="0%" stop-color="#ff0000" />
                <stop class="color-yellow" offset="17%" stop-color="#ffff00" />
                <stop class="color-green" offset="40%" stop-color="#00ff00" />
                <stop class="color-yellow" offset="87%" stop-color="#ffff00" />
                <stop class="color-red" offset="100%" stop-color="#ff0000" />
            </linearGradient>
        </defs>
    </svg>

    <script src="https://cdn3.devexpress.com/jslib/17.1.6/js/dx.all.js"></script>
    <script src="../static/scripts/gauge.js"></script>

    <script>
        $(document).ready(function () {
            $('#toggle_button').click(function () {
                $.get('/toggle', function () {
                    if ($('#toggle_button').prop('checked')) {
                        $('body').css({
                            'background': 'linear-gradient(90deg, #a1c4fd, #c2e9fb)',
                            'color': 'black'
                        });
                    } else {
                        $('body').css({
                            'background': 'linear-gradient(90deg, #2C3E50, #34495E)',
                            'color': 'white'
                        });
                    }
                });
            });
    
            $('#fanButton').click(function () {
                $.get('/toggle_fan', function () {
                    var fanContainer = $('.ceiling-container');
                    var fanStatus = $('#fanStatus');
                    if (fanContainer.hasClass('fan-off')) {
                        fanContainer.removeClass('fan-off').addClass('fan-on');
                        fanStatus.text('Fan Status: On');
                    } else {
                        fanContainer.removeClass('fan-on').addClass('fan-off');
                        fanStatus.text('Fan Status: Off');
                    }
                });
            });
        });
    
        $(document).ready(function () {
            let temperatureGauge;
            let humidityGauge;
    
            function updateSensorData() {
                $.get('/sensor_data', function (data) {
                    if ('temperature' in data && 'humidity' in data) {
                        temperatureGauge = new GaugeChart('.temperature-gauge', {
                            initialValue: data.temperature,
                            higherValue: 60,
                            title: 'Temperature',
                            subtitle: data.temperature.toFixed(2) + '°C',
                            customTicks: [0, 10, 20, 30, 40, 50, 60]
                        });
    
                        humidityGauge = new GaugeChart('.humidity-gauge', {
                            initialValue: data.humidity,
                            higherValue: 100,
                            title: 'Humidity',
                            subtitle: data.humidity.toFixed(2) + '%',
                            customTicks: [0, 20, 40, 60, 80, 100]
                        });
    
                        temperatureGauge.init();
                        humidityGauge.init();
                        temperatureGauge.update(temperatureGauge, temperatureGauge.toFixed(2) + '°C');
                        humidityGauge.update(humidityGauge, humidityGauge.toFixed(2) + '%');
                    } else {
                        console.error('Invalid data received from server.');
                    }

                    // Update light intensity and status
                    if ('light_intensity' in data && 'light_status' in data) {
                        updateLightIntensity(data.light_intensity, data.light_status);
                    }
                });
            }
    
            updateSensorData();
            setInterval(updateSensorData, 10000);
        });

        // Function to update light intensity and status
        function updateLightIntensity(intensity, status) {
            document.getElementById("lightIntensity").innerText = "Light intensity: " + intensity.toFixed(2);
            document.getElementById("lightStatus").innerText = "Dark/Light: " + status;
        }
    </script>

    <footer>
        &copy; 2024 - Muhammad Arsalan Saeed, Nabil Ramadan & Hibba Qaraman.
    </footer>

</body>

</html>
